// Theme's Palette
@import("E:/Web Workespace/blog/vuepress-theme-vdoing-master/theme-vdoing/styles/palette.styl")

// User's Palette
@import("E:/Web Workespace/blog/vuepress-theme-vdoing-master/docs/.vuepress/styles/palette.styl")